<<<<<<< HEAD
header{
    border: solid 1px black;
    border-radius: 10px;
/*     background: rgb(53, 162, 73); */
    width: 100vw;
    background-image: url= "{{ asset('./img/logo.png') }}";
    
}
.header{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: left;
}
.logo img{
    width: 10vh;
    margin: 1%;
}
.btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

=======
@import 'header'
>>>>>>> a75c25f3841f2c99e819ccfbde0cc5f6169de919
