@import 'header';
@import 'button';
@import 'carousel';
@import 'cards';
@import 'footer';
@import 'styletailwind';
body{
    margin: 1%;
}

.conten-resgistrate{
    display:flex;
justify-content: center;
.btn-registrar{
    background:#EB4603;
    width: 15%;
    text-align: center;
}
.btn-registrar:hover{
    background:#db2929;
}
}



.conten-init{

.btn-init{
    background:#EB4603;
    width: 15%;
}
.btn-init:hover{
    background:#db2929;
}
}




.conten-olvido{
    display:flex;
    justify-content: center;
    .btn-olvido{
        background:#EB4603;
    }
    
    .btn-olvido:hover{
        background:#db2929;
    }
}





