.conten-edit{
    margin-top: 15%;
    position: absolute;
    width: 98%;
    display: flex;
    justify-content: center;
}

.title-edit{
    display: flex;
    font-size: 50px;
    text-align: center;
    flex-direction: column;

    .text-title{
        margin: 1%;
    }

    .input-tilte-edit{
        border: 2px solid #EB4603;;
        margin: 1%;
        padding: 1%
    }
}


.conten2{
    border:black 2px solid;
    display: flex;
    width: 95%;
    justify-content: space-around;
    .descrip-edit2{
        display: flex;
        border: black 2px solid;
        width: 45%;
        flex-direction: column;
        justify-content: space-between;
        .btn-img{
            border:black 2px solid;
        }
        .img-edit{
            border:black 2px solid;
            width: 40%;
            img{
                border:black 2px solid;
                width: 90%;
            }
        }
    }
    .descrip-edit{
        width: 45%;
        margin: 1%;;
    }
}



.descrip-edit{
    background: #F8E358;
    .text-des-edit{
        margin: 1%;
    }
    input{
        width: 50%;
        border: 2px solid #EB4603;;
        margin: 1%;
        padding: 15px;
    }
}

