.table-event{
    border: solid black 1px;
    position: absolute;
    margin: 2%;
    width: 50%;
    height: 50%;
    margin-top: 30%;
    display: flex;
    flex-direction: row-reverse;
    img{
        width: 10%;
        margin: 1%;
    }
}

.btn-delete{
    position: relative;
    width:5% ;
    margin-bottom: 50%;
    
}



.btn-edit{
    display: flex;
    width: 10%;
    background: #EB4603;
    border: #EB4603;
}
