.cabecera{
    position: absolute;
    width: 98%;
    height: 200px;
    overflow: hidden;
    background-image: url('/img/header.png');
}

.logo{
    position: relative;
    img{
        position: absolute;
        width: 15vh;
        margin-top: 2%;
        margin-left: 2%;
    }
}


@media  (max-width: 600px){
    .cabecera{
        position: absolute;
        width:98%;
        height: 100px;
        overflow: hidden;
    }
    
    .logo{
        position: relative;
        img{
            position: absolute;
            width: 8vh;
            padding-top: 4%;
            padding-left: 2%;

        }
    }
}


